{% load static %}

<nav class="navbar navbar-expand-lg bg-dark m-5">
    <div class="container-fluid">
        <a class="navbar-brand text-green" href="{% url 'home:home' %}">
            <img src="{% static 'images/logo.svg' %}" alt="logo" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-green" href="{% url 'home:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-green" href="{% url 'spots:list' %}">Spots List</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-green" href="{% url 'users:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-green" href="{% url 'users:login' %}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-green" href="{% url 'spots:create' %}">Create Spot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-green" href="{% url 'users:logout' %}">logout</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link text-green">Logged in ({{ user.username }})</span>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" method="post" action="{% url 'spots:search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="text" aria-label="Search" name="search">
                <button class="btn btn-outline-green" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
