{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Spot List
{% endblock %}

{% block content %}
    {% for spot in spots %}
        <div class="card" style="width: 20rem;">
            <img src="{{ spot.photo.url}}" class="card-img-top" alt="spot photo">
            <div class="card-body">
                <h5 class="card-title">{{ spot.name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Province: {{ spot.province }}</li>
                <li class="list-group-item">Longitude: {{ spot.longitude }}</li>
                <li class="list-group-item">latitude: {{ spot.latitude }}</li>
            </ul>
            <div class="card-body">
                <a href="https://www.google.com/maps/@{{ spot.latitude }}, {{ spot.longitude }}" class="card-link">
                    Search in Google Maps
                </a>
            </div>
        </div>
    {% empty %}
        <h2 class="text-green">No spots</h2>
    {% endfor %}
{% endblock %}
