{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Spot List
{% endblock %}

{% block content %}
    {% for spot in spots %}
        <div class="card border-green mb-3 bg-dark">
            <img src="{{ spot.photo.url }}" class="card-img-top" alt="spot photo">
            <div class="card-body text-green border-top-green">
                <h5 class="card-title">{{ spot.name }}</h5>
                {% if user.is_authenticated %}
                    <span id="counter{{ spot.pk }}" class="text-green">{{ spot.likes }}</span>
                    <button class="btn" id="like-btn{{ spot.pk }}" value="{{ spot.pk }}">
                        <img src="{% static 'images/empty-heart.png' %}" id="heart{{ spot.pk }}"
                             alt="heart" height="40" width="40">
                    </button>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-green border-bottom-green">
                    Province: {{ spot.province }}
                </li>
                <li class="list-group-item bg-dark text-green border-bottom-green">
                    Latitude: {{ spot.latitude }}
                </li>
                <li class="list-group-item bg-dark text-green">
                    Longitude: {{ spot.longitude }}
                </li>
            </ul>
            <div class="card-body bg-dark text-green">
                <a href="https://maps.google.com/?q={{ spot.latitude }}, {{ spot.longitude }}"
                   class="nav-link text-green">
                    Search on Google Maps
                </a>
            </div>
            {% if user.is_authenticated %}
                {% if user == spot.user or user.is_superuser %}
                    <div class="card-body bg-dark border-top-green">
                        <a href="{% url 'spots:update' pk=spot.pk %}" class="btn btn-outline-green">Update</a>
                    </div>
                    <div class="card-body bg-dark border-top-green">
                        <a href="{% url 'spots:delete' pk=spot.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <br>
        <script>
            $(document).on('click', '#like-btn{{ spot.pk }}', function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "spots:like" %}',
                    data: {
                        pk: $('#like-btn{{ spot.pk }}').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post',
                    },
                    success: function (json) {
                        const like_counter = document.getElementById('counter{{ spot.pk }}')
                        like_counter.innerText = json['result']
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(errmsg)
                        console.log(err)
                    }
                });
            });
        </script>
    {% empty %}
        <div class="row">
            <h2 class="text-green">No Spots</h2>
        </div>
    {% endfor %}
{% endblock %}
